@import '../../variables.scss';

.ApartmentsPage {
  // height: 3000px;
  
  .page-content {
    padding: 115px 0 60px !important;
    
    @media screen and (min-width: 1280px) {
      padding: 190px 0 60px !important;
    }
  }
  
  .title-wrap {
    height: 250px;
    background: url('../../images/ACCamera_6.jpg');
    background-size: cover;
    position: relative;
    
    @media screen and (min-width: 1280px) {
      background: url('../../images/blue_bg_dolt.png') no-repeat 0 0;
      display: flex;
      padding-top: 65px;
      padding-bottom: 45px;
      padding-left: 8%;
      padding-right: 8%;
      background-position: top right;
      height: auto;
    }



    h1 {
      font-family: "Rasa", serif;
      font-size: 40px;
      color: white;
      width: 50%;
      position: absolute;
      bottom: 15px;
      left: 25px;
      
      @media screen and (min-width: 1280px) {
        font-size: 65px;
        color: $primary-blue;
        position: absolute;
        left: 5%;
      }
    }

    .title-right {
      text-align: right;
      color: rgba(26,57,102,0.3);
    }
  }

  .slider-wrapper {
    // width: 250px;
    // display: flex;
    padding-bottom: 50px;
    // flex: 1;
    // flex-direction: column;
    img {
      max-height: 250px;

      @media screen and (min-width: 1280px) {
        max-height: initial;
      }
    }
  }

  .hotspot-image-wrap {
    @media screen and (min-width: 1280px) {
      height: 1000px;
      background: $secondary-gray url('../../images/ACCamera_6.jpg');
      background-size: cover;
    }
  }
  
  // === === === === === // 
  // === TABS CONTENT === // 
  // === === === === === // 

  .apartment-tabs-wrap {
    padding: 0 2%;
    margin: 85px 0;

    &.mobile {
      display: flex;
      flex-direction: column;
      margin-top: 25px;

      @media screen and (min-width: 1280px) {
        display: none;
      }
    }

    &.desktop {
      display: none;
      
      @media screen and (min-width: 1280px) {
        display: block;
      }
    }

    .apartment-tabs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
    }

    .apartment-tabs .apartment-tab-wrap {
      width: 90%;
    }
    
    .apartment-tabs .tab {
      
      cursor: pointer;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid rgba(26,57,102,0.1);
      border-top: 1px solid rgba(26,57,102,0.1);
      border-bottom: 1px solid rgba(26,57,102,0.1);
      min-width: 195px;

      &:first-child {
        border-left: 1px solid rgba(26,57,102,0.1);
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      
      &:last-child {
        border-right: 1px solid rgba(26,57,102,0.1);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      
      &.free,
      &.inprogress,
      &.sold {
        .status {
          font-size: 11px;
          text-transform: uppercase;
          border-radius: 3px;
          padding: 2px 13px; 
          margin-bottom: 5px;
        }
      }
      
      &.free .status {
        color: $primary-green;
        border: 1px solid $primary-green;
        background: rgba(108,233,134,0.1);
      }

      &.sold .status {
        color: $primary-red;
        border: 1px solid $primary-red;
        background: rgba(245,97,114,0.2);
      }

      &.inprogress .status {
        color: $primary-orange;
        border: 1px solid $primary-orange;
        background: rgba(245,171,107,0.2);
      }
      
      // === === === === === //
      // === MOBILE ONLY === //
      // === === === === === //

      & + .tab-content {
        display: none;
      }

      &.active + .tab-content {
        display: flex;
        flex-direction: column;
        padding: 18px;

        .slick-track {
          width: 100% !important;
          height: 260px;
        }
      }


      &.active .text {
        padding-top: 5px;
        opacity: 1;
      
        &:after {
          content: "";
          width: 10px;
          height: 10px;
          display: block;
          transform: rotate(45deg);
          border: 1px solid $primary-blue;
          border-top: none;
          border-left: none;
          margin: 0 auto;
        }
      }

      &.active .status {
        display: none;
        opacity: 1;
      }

      &.active.free .text {
        border-top: 2px solid $primary-green;
      }
      &.active.inprogress .text {
        border-top: 2px solid $primary-orange;
      }
      &.active.sold .text {
        border-top: 2px solid $primary-red;
      }

      .text {
        font-size: 45px;
        font-family: 'Rasa', sans-serif;
        font-weight: bold;
        color: $primary-blue;
        opacity: .5;
      }

      .status {
        opacity: .5;
      }
    }
    
    // === TAB CONTENT === // 

    .tab-content {
      background: #F8F9FC;
      display: flex;
      border-radius: 6px;
      
      @media screen and (min-width: 1280px) {
        margin-top: 25px;
      }
    }
    
    .tab-content .col-left {
      width: 45%
    }
    .tab-content .col-right {
      width: 55%;
    }

    // === COL LEFT === //

    .tab-content .col-left {
      padding: 35px 40px;

      h3 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold;
        color: $primary-blue;
        margin-bottom: 65px;
      }

      p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 20px;
        margin-right: 85px;
      }

      .addition-attributes,
      .col-100 {
        display: inline-flex;
      }

    }
    .attachments-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;
      
      @media screen and (min-width: 1280px) {
        flex-direction: row;
        margin-top: 100px;
      }


      a.card-btn {
        padding: 10px 20px;
        display: flex;
        max-width: 305px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;	
        border: 1px solid rgba(26,57,102,0.1);	
        border-radius: 6px;	
        background-color: #FFFFFF;	
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
        color: $primary-blue;
        font-size: 13px;
        outline: none;
        width: 285px;
        margin-bottom: 25px;
        
        @media screen and (min-width: 1280px) {
          font-size: 17px;
          margin-bottom: 0;
        }

        &.no-bg {
          background: transparent;
          border: none;
          box-shadow: none;
        }

        .btn-text {
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 20px;
        }
        .btn-icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid $secondary-blue;
          background: #eee;
          padding: 10px;
        }
      }
    }

    .tag {
      font-size: 13px;
      color: #9B9B9B;
      padding: 5px 20px;
      text-transform: uppercase;
      margin-bottom: 15px;
      background: #fff;
      display: inline-block;
    }

    .parameters {
      display: flex;
      flex-wrap: wrap;

      .param-row {
        display: flex;
        width: 100%;
        margin-bottom: 35px;

        p span {
          margin-left: 5px;
          color: $secondary-blue;
        }
      }
    }

    img.attr-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;

      @media screen and (min-width: 1280px) {
        margin-right: 20px;
      }
    }
    
    .parameters p:nth-child(even) {
      margin-left: 55px;
      @media screen and (min-width: 1280px) {
        margin-left: 85px;
      }
    }

    // === COL RIGHT === //

    .tab-content .col-right {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 45px 20px;
      
      .slider-wrapper {
        display: block;
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }

      .page-slider {
        flex: 1;
        margin-bottom: 50px;

        .slick-slide * {
          outline: none;
          position: relative;
        }

        img {
          position: absolute;
          width: 100%;
          height: auto;
          // max-height: 100%;
          outline: none;
        }
      }
    }
  }

  // === === === === === === // 
  // === COMFY LOCATIONS === // 
  // === === === === === === // 

  .comfy-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 75px 0;
    background: rgba(80,227,194,0.1) url('../../images/noveny1.svg') no-repeat 25px 15px;
    background-size: 70px 78px;

    @media screen and (min-width: 1280px) {
      flex-direction: row;
      background: transparent;
    }

    .col-30 {
      width: 100%;
      
      @media screen and (min-width: 1280px) {
        width: 30%;
        padding: 75px 0;
      }

      &.m-hidden {
        display: none;

        @media screen and (min-width: 1280px) {
          display: block;
        }
        
      }

      &:last-child  {
        text-align: center;
      }

      h2 {
        font-size: 27px;
        font-family: 'Rasa', serif;
        color: $primary-blue;
        padding: 50px 25px;
        text-align: center;
        
        @media screen and (min-width: 1280px) {
          font-size: 45px;
          padding: 0;
          text-align: left;
        }

      }
      h3 {
        font-size: 23px;
        color: $primary-blue;
        margin: 0 3%;
        line-height: 32px;
        text-align: center;
        display: none;

        @media screen and (min-width: 1280px) {
          display: block;
        }
      }

      a.card-btn {
        padding: 10px 20px;
        display: flex;

        position: absolute;
        margin-top: -30px;
        left: 50%;
        transform: translateX(-50%);
        
        max-width: 350px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;	
        border: 1px solid rgba(26,57,102,0.1);	
        border-radius: 6px;	
        background-color: #FFFFFF;	
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
        color: $primary-blue;
        font-size:  13px;
        outline: none;

        width: 244px;

        @media screen and (min-width: 1280px) {
          position: relative;
          margin-top: 0;
          left: 0;
          transform: initial;
          font-size: 17px;
          width: auto;
        }

        .btn-text {
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 25px;
          
          @media screen and (min-width: 1280px) {
            margin-right: 50px;
          }
        }
        .btn-icon {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 1px solid $secondary-blue;
          background: #eee;
          padding: 5px;

          @media screen and (min-width: 1280px) {
            width: 40px;
            height: 40px;
            padding: 10px;
          }
        }
      }
    }
  }

  .render-images-wrap {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: 1280px) {
      flex-direction: row;
    }

    .render-row {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1280px) {
        flex-direction: row;
      }
    }

    .col-100 {
      display: inline-flex;
    }

    .col-50,
    .col-30,
    .col-30.col-middle .bottom {
      background: #F8F9FC;
      border: 1px solid rgba(26,57,102,0.1);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      margin: 0;
      height: 140px;

      @media screen and (min-width: 1280px) {
        margin: 10px;
        flex-direction: row;
        height: 500px;
      }
    }

    .col-50,
    .col-30 {
      margin-bottom: 10px;
      @media screen and (min-width: 1280px) {
        margin-bottom: 0;
      }
    }

    .col-middle {
      background: transparent;
      border: none;
      margin: 10px 0;
      margin: 0;
      margin-bottom: 10px;
      width: 100%;
      height: auto;

      @media screen and (min-width: 1280px) {
        margin: 10px;
        flex-direction: row;
        height: 500px;
        width: 33%;
      }
    }
    
    .col-middle .bottom {
      background: #F8F9FC;
      border: 1px solid rgba(26,57,102,0.1);
      margin: 0;
      border-radius: 5px;
      height: 140px;
      
      @media screen and (min-width: 1280px) {
        margin-top: 10px;
        height: 380px;
      }
    }

    .col-middle {
      order: 1;

      @media screen and (min-width: 1280px) {
        order: 2;
      }
    }

    .col-top {
      order: 2;

      @media screen and (min-width: 1280px) {
        order: 1;
      }
    }

    .col-bottom {
      order: 3;
    }


    .col-50 {
      width: 100%;

      @media screen and (min-width: 1280px) {
        width: 50%;
      }
    }

    .col-30 {
      width: 100%;

      @media screen and (min-width: 1280px) {
        width: 33%;
      }

      &.middle {
        flex-direction: column;
        border: none;
        background: none;

        .top {
          flex-basis: 100%;
          flex: 1;
          margin-bottom: 10px;
        }
        .bottom {
          flex-basis: 100%;
          flex: 3;
          border: 1px solid rgba(26,57,102,0.1);
          border-radius: 6px;
          margin: 0;
        }
      }
    }

    h3 {
      text-align: center;
      font-family: 'Rasa', serif;
      background-color: rgba(26,57,102,0.4);
      border-radius: 6px;
      color: white;
      font-size: 27px;
      padding: 20px;
      width: 100%;
      margin-bottom: 10px;

      @media screen and (min-width: 1280px) {
        margin-bottom: 0;
        font-size: 45px;
        padding: 33px;
      }
    }
  } 
}
