@import '../../variables';

.AboutPage {
  .page-content {
    padding-bottom: 30px;
    padding-top: 145px;

    @media screen and (min-width: 1280px) {
      padding-bottom: 60px;
      padding-top: 219px;
    }
  }
  .content-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5%;

    @media screen and (min-width: 1280px) {
      flex-direction: row;
    }

    &.top {
      padding: 0 6%;

      @media screen and (min-width: 1280px) {
        padding: 0 10%;
      }
    }

    &.bottom {
      padding: 0;

      @media screen and (min-width: 1280px) {
        padding: 0 10%;
      }
    }

    .col-50 {
      width: 100%;

      @media screen and (min-width: 1280px) {
        width: 50%;
      }
    }

    .col-100 {
      width: 100%;
    }
    
    // === === === === //
    // === LIST === //
    // === === === === //

    .fact-list-wrapper {

      
      h3 {
        font-size: 40px;
        font-family: 'Rasa', serif;
        color: $primary-blue;
        margin-bottom: 25px;

        @media screen and (min-width: 1280px) {
          font-size: 65px;
          margin-bottom: 30px;
        }
      }

      ul li {
        font-size: 16px;
        color: $secondary-blue;
        font-weight: bold;
        margin-bottom: 12px;
        padding: 10px 0;
        padding-left: 65px;
        position: relative;

        @media screen and (min-width: 1280px) {
          font-size: 20px;
          margin-bottom: 20px;
        }

        &:before,
        &:after {
          content: "";
          display: block;
          position: absolute;
          border-radius: 50%;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }

        &:before {
          width: 23px;
          height: 23px;
          background-color: rgba(80,227,194,0.3);
          left: 9px;
        }
        &:after {
          width: 40px;
          height: 40px;
          background-color: rgba(80,227,194,0.1);
        }
      }
    }

    // === === === === //
    // === MANAGER INFO === //
    // === === === === //

    .manager-info-wrapper {
      margin-top: 50px;

      h3,
      p {
        position: relative;
        z-index: 1;
      }

      h3 {
        font-size: 45px;
        color: $secondary-blue;
        font-family: 'Rasa', serif;
        margin-bottom: 10px;
        text-align: center;

        @media screen and (min-width: 1280px) {
          text-align: left;
        }

        &:before {
          content: "E";
          display: block;
          position: absolute;
          font-family: 'Rasa', serif;
          font-size: 180px;
          color: #F0F0F0;
          z-index: -1;
          top: -60px;
          left: 50%;
          transform: translateX(-175%);

          @media screen and (min-width: 1280px) {
            left: -45px;
            font-size: 190px;
            transform: none;
          }
        }
      }

      p {
        color: $primary-green;
        font-size: 20px;
        text-align: center;

        @media screen and (min-width: 1280px) {
          text-align: left;
        }
      }

      .contact-info {
        .image-wrap {
          display: flex;
          width: 85px;
          height: 85px;
          border-radius: 50%;
          background: white;
          border: 3px solid #f5f5f5;
          align-items: center;
          justify-content: center;

          svg {
            width: 35px;
            height: 35px;
          }
        }
      }

      .contact-info .phone,
      .contact-info .mail {
        display: flex;
        flex-direction: row;
        color: $primary-blue;
        
      }
      .contact-info .phone {
        align-items: flex-start;
        margin-top: 35px;

        @media screen and (min-width: 1280px) {
          margin-top: 0;
        }

        .info-col {
          padding-top: 20px;
        }
        .image-wrap {
          margin-right: 20px;
        }

        .opening-hours {
          display: flex;
          margin-top: 20px;
          justify-content: space-between;
        }

        .phone-num {
          margin-bottom: 10px;
        }

        .opening-hours .hours-col {
          display: flex;
          flex-direction: column;
        }
        .opening-hours .hours-col span {
          margin-bottom: 10px;
        }
      }
      .contact-info .mail {
        align-items: center;
        .image-wrap {
          margin-right: 20px;
        }
        img {
          width: 43px;
          height: 43px;
        }
      }
    }

    // === === === === //
    // === FORM === //
    // === === === === //
    
    .contact-form {
      text-align: center;

      @media screen and (min-width: 1280px) {
        text-align: right;
      }

      h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 25px;
        color: $primary-blue;
        text-align: center;

        @media screen and (min-width: 1280px) {
          text-align: left;
        }
      } 
      
      .form-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        @media screen and (min-width: 1280px) {
          flex-direction: row;
          margin-bottom: 35px;
        }

      }

      input,
      textarea {
        padding: 18px;
        border: 3px solid #F5F5F5;
        border-radius: 6px;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Lato', sans-serif;

        @media screen and (min-width: 1280px) {
          font-size: 18px;
        }
        
        &:placeholder {
          font-size: 15px;
          font-weight: bold;
          text-transform: none;
          @media screen and (min-width: 1280px) {
            font-size: 18px;
          }
        }
      }

      label {
        position: relative;
      }

      label[for="name"]{
        width: 100%;
        margin-bottom: 15px;

        @media screen and (min-width: 1280px) {
          margin-bottom: 0;
          width: 35%;
        }
      }

      label[for="email"] {
        width: 100%;
        margin-bottom: 15px;

        @media screen and (min-width: 1280px) {
          margin-left: auto;
          margin-bottom: 0;
          width: 50%;
        }
      }

      input {
        padding-left: 55px;
        outline: 0;
        width: 100%;

        @media screen and (min-width: 1280px) {
          width: auto;
        }
      }

      input.name {
        background: url('../../images/account.png') no-repeat 10px 10px;
        background-size: 35px 35px;
      }
      input.email {
        background: url('../../images/email.png') no-repeat 10px 10px;
        background-size: 35px 35px;
      }

      textarea {
        width: 100%;
        padding-left: 55px;
        height: 150px;
        resize: none;
        outline: none;
        background: url('../../images/comment.png') no-repeat 10px 10px;
        background-size: 35px 35px;

        @media screen and (min-width: 1280px) {
          padding-left: 55px;
        }
      }

      button {
        color: $primary-blue;
        font-size: 13px;
        text-transform: uppercase;
        border: 1px solid rgba(26,57,102,0.1);
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
        padding: 15px 40px;
        margin: 0 auto;
        margin-top: 20px;
        font-weight: bold;

        @media screen and (min-width: 1280px) {
          padding: 20px 40px;
          font-size: 15px;
          margin-top: 0;
        }
      }
    }

    // === === === === //
    // === TABS === //
    // === === === === //
    .tabs-wrapper {
      .tab-headers {
        padding: 20px 0 0 0;
        display: inline-block;
        width: 100%;
        
        @media screen and (min-width: 1280px) {
          width: auto;
          padding: 20px 0;
        }
      }
      
      .tab {
        cursor: pointer;
        padding: 10px 20px;
        font-size: 12px;
        font-weight: bold;
        color: $primary-blue;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom: 1px solid #DCDCDC;
        width: 50%;
        display: inline-block;
        text-align: center;

        @media screen and (min-width: 1280px) {
          padding: 15px 44px;
          font-size: 20px;
          width: auto;
        }
      }
      .tab.active {
        background-color: rgba(80,227,194,0.1);
        border-bottom: 2px solid $primary-green;
      }

      .tab-content {
        height: 500px;
        // border: 2px solid red;
        display: flex;
      }
      .tab-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;

        @media screen and (min-width: 1280px) {
          flex-direction: row;
        }
      }

      .tab-content-wrapper .col-50 {
        display: inline-block;
      }

      .tab-content-wrapper .col-left,
      .tab-content-wrapper .col-right {
        flex: 1;

        @media screen and (min-width: 1280px) {
          flex: none;
        }
      }

      .tab-content-wrapper .col-left {
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 1280px) {
          padding-top: 45px;
        }
      }

      .tab-content-wrapper .logo {
        margin-right: 80px;
        display: none;

        @media screen and (min-width: 1280px) {
          display: inline-block;
        }

        h3 {
          font-size: 90px;
          color: $primary-blue;
          font-family: 'Rasa', serif;
        }

        h3 span {
          color: $primary-green;
        }
      }
      
      .address-wrap {
        margin-bottom: 20px;
        padding-top: 10px;
        position: relative;
      }

      .tab-content-wrapper .address {
        padding-top: 0;

        @media screen and (min-width: 1280px) {
          padding-top: 20px;
        }
      } 
      
      .tab-content-wrapper .address p {
        padding-left: 45px;
        padding-bottom: 20px;
        font-size: 16px;
        color: #9b9b9b;
        position: relative;

        @media screen and (min-width: 1280px) {
          font-size: 20px;
          padding-left: 60px;
        }
      }

      .tab-content-wrapper .address .icon-direction {
        position: absolute;
        width: 35px;
        height: 35px;
        top: -5px;

        g path {
          fill: #9b9b9b;
        }
      }

      .tab-content-wrapper a {
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;	
        border: 1px solid rgba(26,57,102,0.1);	
        border-radius: 6px;	
        background-color: #FFFFFF;	
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
        color: $primary-blue;
        font-size:  13px;
        outline: none;
        color: $primary-blue;

        @media screen and (min-width: 1280px) {
          font-size:  17px;
        }

        .btn-text {
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 15px;

          @media screen and (min-width: 1280px) {
            margin-right: 45px;
            margin-right: 20px;
          }
        }
        .btn-arrow {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 1px solid $secondary-blue;
          background: #eee;
          padding: 5px;

          @media screen and (min-width: 1280px) {
            width: 40px;
            height: 40px;
            padding: 10px;
          }
        }
      }

      .map-container {
        display: flex !important;

        @media screen and (min-width: 1280px) {
          display: block;
        }
      }
      .map-container iframe {
        height: 100%;
      }
    }
  }
}
