@import '../../variables';

.HomePage  {  
  .page-content {
    background: white;
    padding-bottom: 0;
    @media screen and (min-width: 1280px) {
      padding-bottom: 50px;
    }
  }
  
  //  --- --- --- --- --- //
  // ---- SLIDER CSS ---- //
  //  --- --- --- --- --- //

  .page-content .main-slider.slick-slider {
    height: 535px;
    margin-bottom: 100px;
    overflow: hidden;
    @media screen and (min-width: 1280px) {
      height: 735px; 
    }

    .slick-prev,
    .slick-next {
      z-index: 10;
      width: 35px;
      height: 35px;

      &:before {
        font-size: 35px;
      }
    }

    .slick-prev {
      left: 25px;
    }
    .slick-next {
      right: 25px;
    }
    .slick-dots {
      bottom: 25px;
      li {
        margin: 0 15px;
      }
      li button:before {
        content: "";
        color: white;
        width: 30px;
        height: 6px;
        background: white;
        border-radius: 6px;
      }
    }
    .slick-slide {
      text-align: center;
    }

    .slide-1,
    .slide-2,
    .slide-3{
      background-attachment: fixed;
      background-size: cover;
      height: 735px;
    }

    .slide-1 {
      background: url('../../images/apartman.jpg') no-repeat center center;
    }
    .slide-2 {
      background: url('../../images/ACCamera_6.jpg') no-repeat center center;
    }
    .slide-3 {
      background: url('../../images/ACCamera_11M.jpg') no-repeat center center;
    }

    .slide-text-wrap {
      width: 75%;
      color: white;
      background-color: rgba(55,55,55,.6);
      text-align: left;
      border-radius: 6px;
      margin: 0 auto;
      margin-top: 225px;
      padding: 15px;
      

      @media screen and (min-width: 1280px) {
        padding: 35px;
        margin-left: 200px;
        width: 745px;
        position: absolute;
        top: 18%;
      }

      h3 {
        padding: 0;
        margin: 0;
        font-family: 'Rasa', serif;
        font-size: 30px;
        margin-bottom: 15px;

        @media screen and (min-width: 1280px) {
          font-size: 59px;
        }
      }

      p {
        font-size: 18px;

        @media screen and (min-width: 1280px) {
          font-size: 22px;
        }
      }
    }
  }

  .page-content .inner-slider.slick-slider {
    width: 850px;
    // height: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
    overflow: hidden;

    .slick-prev,
    .slick-next {
      z-index: 10;
      width: 35px;
      height: 35px;

      &:before {
        font-size: 35px;
      }
    }

    .slick-prev {
      left: 25px;
    }
    .slick-next {
      right: 25px;
    }
    .slick-list {
      margin: 30px auto 50px;
      overflow: visible;
    }
   
    .slick-slide {
      text-align: center;
      transform: scale(1);
      opacity: .5;
    }
    .slick-active {
      transition: transform 750ms ease-in-out;
      transform: scale(1.05);
      opacity: 1;
    }
    img {
      width: 700px;
      margin: 0 auto;
      border-radius: 6px;
    }
  }
  
  //  --- --- --- --- --- //
  //  --- SECTION --- //
  //  --- --- --- --- --- //

  section {
    margin-bottom: 65px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 150px;
    }

    .section-title {
      font-size: 40px;
      font-family: 'Rasa', serif;
      font-weight: bold;

      @media screen and (min-width: 1280px) {
        font-size: 65px;
      }

      color: $primary-blue;

      &:after {
        content: "";
        display: block;
        max-width: 100%;
        width: 100%;
        height: 1px;
        margin-top: 10px;
        background: #50E3C2;

        @media screen and (min-width: 1280px) {
          font-size: 65px;
          max-width: 270px;
        }
      }
    }

    .section-header {
      padding: 0 6%;
    }
  }
  
  //  --- --- --- --- --- //
  //  --- BUILDINGS --- //
  //  --- --- --- --- --- //

  .buildings {
    .section-header {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1280px) {
        flex-direction: row;
      }

      .section-title {
        margin-bottom: 35px;

        @media screen and (min-width: 1280px) {
          margin: 0;
          margin-right: 10%;
        }
      } 
      .section-header-text {
        display: flex;
        flex-direction: column;
      }
      .section-header-text p {
        flex: 1;
        line-height: 33px;
        font-size: 16px;
        margin-bottom: 25px;

        @media screen and (min-width: 1280px) {
          font-size: 18px;
        }
      }
    }
  }


  //  --- --- --- --- --- //
  // ---  ATTRIBUTES --- //
  //  --- --- --- --- --- //

  .attributes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // border: 2px solid red;
    
    .section-title {
      margin-bottom: 37px;
    }

    > p {
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      color: $secondary-blue;
      margin-bottom: 30px;

      @media screen and (min-width: 1280px) {
        margin-bottom: 65px;
        font-size: 23px;
      }
    }
    img {
      width: 55px;
      margin: 0 15px;

      @media screen and (min-width: 1280px) {
        width: auto;
        margin: 0 30px;
      }
    }
  }

  .attributes .attribute-cards {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    display: flex;
    padding: 0 calc(6% - 15px);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (min-width: 1280px) {
      flex-direction: row;
      height: 400px;
    }

    .attribute-card {
      box-sizing: border-box;	
      min-height: 290px;
      margin: 0 10px;
      margin-bottom: 20px;
      
      max-width: 325px;
      border: 1px solid rgba(80,227,194,0.3);
      border-radius: 6px;
      box-shadow: initial;
      border-radius: 6px;
      background-color: #FFFFFF;
      padding: 35px;
      padding-bottom: 25px;
      text-align: left;
      position: relative;
      overflow: hidden;

      @media screen and (min-width: 1280px) {
        margin: 0 10px;
        flex: 1;
      }
      
      &:hover {
        border: 1px solid #50E3C2;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
      }

      &:hover > .card-btn {
        // display: block;
        bottom: 0;
        position: relative;
      }

      .inital-letter {
        font-size: 144px;
        font-family: 'Rasa', serif;
        color: #F0F0F0;
        display: inline-block;
        line-height: 80%;
        position: relative;

        img {
          margin-top: -10px;
          // margin-left: 5px;
          width: 40px;
          position: absolute;
          left: -40px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .card-text h4 {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .card-text p {
        font-size: 13px;
        color: $primary-gray;
        line-height: 25px;
        text-align: justify;
        margin-bottom: 25px;
      }

      .card-btn {
        font-size: 17px;
        text-transform: uppercase;
        font-weight: bold;
        color: $primary-blue;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: transparent;
        border: none;
        outline: none;
        position: absolute;
        bottom: -150px;
        transition: bottom .25s ease-in-out;

        .btn-text,
        .btn-arrow {
          display: inline-block;
        }

        .btn-arrow {
          margin-left: 40px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid $secondary-blue;
          background: #eee;
          padding: 10px;
        }
      }
    }
  }

  .attributes .a-b {
    display: flex;
    flex-direction: column;
    padding: 0 6%;
    margin-bottom: 30px;

    @media screen and (min-width: 1280px) {
      padding: 0 95px;
      background: url('../../images/render_total_vagott.png') no-repeat bottom center;
      padding-bottom: 750px;
    }

    .building-a {
      order: 2;
      margin-bottom: 80px;

      @media screen and (min-width: 1280px) {
        order: 1;
        margin-bottom: 0;
      }
    }
    .building-a-b-middle {
      order: 1;

      @media screen and (min-width: 1280px) {
        order: 2;
      }
    }
    .building-b {
      order: 3;
    }

    @media screen and (min-width: 1280px) {
      flex-direction: row;
    }

    .building-a,
    .building-b {
      flex: 1;

      p {
        font-size: 18px;
        color: $secondary-blue;
        line-height: 33px;
      }
    }

    .building-a-b-middle {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      font-family: 'Rasa', serif;

      h3 {
        font-size: 45px;
        font-weight: bold;
        line-height: 53px;
        color: $primary-blue;
        margin-bottom: 85px;
        padding-bottom: 10px;
        border-bottom: 1px solid #50E3C2;
        
        @media screen and (min-width: 1280px) {
          font-size: 55px;
          line-height: 76px;
          margin-bottom: 0;
        }
      }

      .card-btn {
        display: none;

        @media screen and (min-width: 1280px) { 
          padding: 10px 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          box-sizing: border-box;	
          border: 1px solid rgba(26,57,102,0.1);	
          border-radius: 6px;	
          background-color: #FFFFFF;	
          box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
          color: $primary-blue;
          outline: none;
          font-family: 'Lato', sans-serif;
          font-size:  17px;
          font-weight: 'bold';

          .btn-text {
            text-transform: uppercase;
            font-weight: bold;
            margin-right: 45px;
          }
          .btn-arrow {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid $secondary-blue;
            background: #eee;
            padding: 10px;
          }
        }
      }
    }

    .building-initial {
      font-size: 35px;
      font-family: 'Rasa', serif;
      color: $primary-blue;
      width: 55px;
      height: 55px;
      background-color: rgba(80,227,194,0.3);
      border: 2px solid #50E3C2;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      margin-bottom: 50px;

      @media screen and (min-width: 1280px) {
        font-size: 57px;
        width: 90px;
        height: 90px;
        margin-bottom: 75px;
      }

      &:before {
        content: "";
        width: 90px;
        height: 90px;
        display: block;
        position: absolute;
        background-color: rgba(80,227,194,0.1);
        border: 2px solid #50E3C2;
        border-radius: 50%;

        @media screen and (min-width: 1280px) {
          width: 150px;
          height: 150px;
        }
      }
    }

  }
  
  .attributes .documents-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 1280px) {
      width: auto;
      flex-direction: row;
    }

    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      color: $primary-blue;
      margin: 0 45px;
      margin-bottom: 35px;
      font-weight: bold;
      width: 100%;
      padding: 0 45px;
      

      @media screen and (min-width: 1280px) {
        font-size: 21px;
        padding: 0;
      }
    }

    p img {
      width: 45px;
      padding: 0;

      @media screen and (min-width: 1280px) {
        width: 70px;
      }
    }
    p .btn-download {
      padding: 10px;
      border: 1px solid rgba(26,57,102,0.1);
      border-radius: 6px;
      background: #fff;
      margin-left: 20px;

      @media screen and (min-width: 1280px) {
        margin-left: 30px;
      }
      
      &:hover{        
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
      }
    }
  }

  //  --- --- --- --- --- --- --- --- --- //
  // ---  LOCATION AND NEIGHBOURHOOD --- //
  //  --- --- --- --- --- --- --- --- --- //

  .location {

    .section-header {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 30px;

      @media screen and (min-width: 1280px) {
        flex-direction: row;
        margin-bottom: 0;
      }

      h3 {
        margin-bottom: 15px;

        @media screen and (min-width: 1280px) {
          width: 40%;
          display: inline-block;
          margin-bottom: 0;
        }
      }
      p {
        line-height: 33px;
        font-size: 16px;

        @media screen and (min-width: 1280px) {
          width: 60%;
          display: inline-block;
          font-size: 21px;
          color: $secondary-blue;
        }
      }
    }

    .section-content {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1280px) {
        padding: 0 6%;
        margin-top: 50px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }
      .main-left {
        order: 2;
        @media screen and (min-width: 1280px) {
          order: 1;
        }
      }
      .main-right {
        order: 1;
        @media screen and (min-width: 1280px) {
          order: 2;
        }
      }
      .main-bottom{
        order: 3;
      }

      .main-left,
      .main-right {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width: 1280px) {
          width: 49.5%;
          // border: 2px solid red; 
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }

      .main-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        
        @media screen and (min-width: 1280px) {
          margin-top: 15px;
          flex-direction: row;
        }
      }

      .box-1 {
        order: 1;

      }
      .box-2 {
        order: 2;
      }
      .box-3 {
        order: 1;
      }
      .box-4 {
        order: 4;

        @media screen and (min-width: 1280px) {
         order: 3;
        }
      }
      .box-5 {
        order: 3;

        @media screen and (min-width: 1280px) {
         order: 3;
        }
      }
      .box-6 {
        order: 6;
      }
      .box-7 {
        order: 7;
      }
      .box-8 {
        order: 3;

        @media screen and (min-width: 1280px) {
         order: 2;
        }
      }
      .box-9 {
        order: 2;

        @media screen and (min-width: 1280px) {
         order: 3;
        }
      }
      .box-10 {
        order: 2;

        @media screen and (min-width: 1280px) {
         order: 1;
        }
      }
      .box-11 {
        order: 1;

        @media screen and (min-width: 1280px) {
         order: 2;
        }
      }
      .box-12 {
        order: 3;
      }

      .box-1,
      .box-2,
      .box-4,
      .box-5,
      .box-6,
      .box-7,
      .box-8,
      .box-9 {
        height: 150px;
        background: #F8F9FC;
        // width: 47.5%;

        @media screen and (min-width: 1280px) {
          height: 300px;
        }
      }

      .box-1,
      .box-5,
      .box-6,
      .box-9 {
        width: 100%;
        
        @media screen and (min-width: 1280px) {
          width: 43%;
        }
      }

      
      .box-2,
      .box-4,
      .box-8,
      .box-7 {
        width: 100%;

        @media screen and (min-width: 1280px) {
          width: 55%;
        }
      }

      .box-3 {
        width: 90%;
        height: 300px;
        margin: 0 auto;
        margin-bottom: 25px;

        @media screen and (min-width: 1280px) {
          width: 100%;
          height: 630px;
          margin-bottom: 0;
        }

        iframe {
          width: 100%;
          height: 300px;

          @media screen and (min-width: 1280px) {
            width: 100%;
            height: 615px;
          }
        }
      }

      .box-10,
      .box-11,
      .box-12 {
        width: 100%;
        background: #F8F9FC;
        height: 150px;
        
        @media screen and (min-width: 1280px) {
          width: 36%;
          height: 300px;
        }
      }

      .box-11 {
        width: 100%;

        @media screen and (min-width: 1280px) {
          width: 25%;
          height: 300px;
        }
      }

      .box-1,
      .box-5,
      .box-6,
      .box-9,
      .box-11 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-family: 'Rasa', sans-serif;
        color: $primary-blue;

        @media screen and (min-width: 1280px) {
          font-size: 45px;
        }
      }

      .box-1,
      .box-5 {

        @media screen and (min-width: 1280px) {
          margin-bottom: 15px;
        }
      }

      .box-1 {
        background: linear-gradient(230.41deg, rgba(53,171,180,0.75) 0%, rgba(54,177,173,0.73) 8.97%, rgba(63,237,102,0.51) 100%);
      }
      .box-5 {
        background: linear-gradient(225deg, #C2FFEF 0%, #E1F7FF 100%);
      }
      .box-6{
        background: linear-gradient(229.77deg, #FFF4EE 0%, #FFE0D0 100%);
      }
      .box-9 {
        background: linear-gradient(211.91deg, #FDC1C1 0%, #F68383 100%);
      }
      .box-11 {
        background: linear-gradient(211.91deg, #C1E3FD 0%, #83B9F6 100%);
      }

      .box-2,
      .box-4,
      .box-7,
      .box-8,
      .box-10,
      .box-12 {
        border: 1px solid rgba(26,57,102,0.1);
        padding: 20px;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
        font-size: 13px;
        color: $secondary-blue;
        line-height: 20px;
        
        @media screen and (min-width: 1280px) {
          border-radius: 6px;
          font-size: 18px;
          line-height: 33px;
          padding: 35px 30px;
        }
      }
    }
  }
  
  
  //  --- --- --- --- --- //
  // ---  INVESTMENT --- //
  //  --- --- --- --- --- //

  .investment {
    
    margin-bottom: 0;


    @media screen and (min-width: 1280px) {
      background: url('../../images/baloldal.png') no-repeat bottom left;
      padding-bottom: 150px;
    }
  
    .section-header {
      display: flex;
      flex-direction: column; 
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;

      @media screen and (min-width: 1280px) {
        flex-direction: row;
      }

      .section-header-col:first-child {
        margin-bottom: 35px;

        @media screen and (min-width: 1280px) {
          margin-bottom: auto;
        }
      }

      .section-header-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        border: 1px solid $primary-blue;
        border-radius: 50%;
        position: relative;
        margin: 0 40px;

        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 110px;
          height: 110px;
          border-radius: 50%;
          box-shadow: 0 6px 10px 0 rgba(0,0,0,0.15);
          background: white;
          z-index: 0;
        }
        img { 
          position: relative;
          z-index: 1;
        }
      }

      .section-title,
      .section-header-text {
        display: block;
        max-width: 950px;
      }
      
      .section-title {
        margin-bottom: 30px;
        text-align: center;

        @media screen and (min-width: 1280px) {
          text-align: left;
        }
      }

      .section-header-text {
        color: $secondary-blue;
        font-size: 16px;
        line-height: 33px;
        margin-bottom: 30px;

        @media screen and (min-width: 1280px) {
          font-size: 21px;
        }
      }

      button {
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;	
        border: 1px solid rgba(26,57,102,0.1);	
        border-radius: 6px;	
        background-color: #FFFFFF;	
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
        color: $primary-blue;
        font-size:  17px;
        outline: none;
        .btn-text {
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 45px;
        }
        .btn-arrow {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid $secondary-blue;
          background: #eee;
          padding: 10px;
        }
      }
    }

    .investor-cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 6%;
      // background: linear-gradient(42.88deg, rgba(80,227,194,0.1) 0%, #FFFFFF 100%) ;

      @media screen and (min-width: 1280px) {
        padding: 45px 3%;
        // border: 2px solid red;
        width: 70%;
        margin-left: auto;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        overflow: hidden;
      }

      &:before {
        display: none;

        @media screen and (min-width: 1280px) {
          content: "";
          display: block;
          height: 90%;
          background: $primary-green url('../../images/noveny1.svg') no-repeat 0 0;
          border-radius: 32px;
          height: 550px;
          width: 1000px;
          right: -150px;
          position: absolute;
          opacity: .5;
        }
      }

      .investor-card {
        width: 100%;
        border: 1px solid #E8E8E8;
        border-radius: 6px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 15px 0 rgba(0,0,0,0.1);
        padding: 20px;
        margin-bottom: 30px;

        @media screen and (min-width: 1280px) {
          margin-right: 55px;
          margin-bottom: 0;
          max-width: 475px;
        }
        
        z-index: 1;

        .image-wrap {
          display: none;

          @media screen and (min-width: 1280px) {
            display: block;
            border-radius: 6px;
            margin-bottom: 35px;
            position: relative;
            height: 300px;
            overflow: hidden;
          }
        }

        .image-wrap img {
          width: 120%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        h3.card-title,
        p.card-text {
          padding: 0 37px;
        }

        h3.card-title {
          color: $primary-blue;
          font-size: 25px;
          margin-top: 15px;
          margin-bottom: 15px;
          @media screen and (min-width: 1280px) {
            font-size: 35px;
          }
        }
        p.card-text{
          color: $secondary-blue;
          font-size: 13px;
          line-height: 24px;
          @media screen and (min-width: 1280px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}
