$primary-blue: #1A3966;
$secondary-blue: #283845;
$primary-gray: #999;
$secondary-gray: #eee;
$tertiary-gray: #425464;
$primary-green: #50E3C2;
$primary-red: #F0576B;
$primary-orange: #F5AB6B;

$tablet: "screen and (min-width: 768px)";
$desktop-md: "screen and (min-width: 1280px)";
$desktop-lg: "screen and (min-width: 1980px)";
